src/**

docs
docs-dist
.husky
coverage
.eslintignore
.eslintrc.js
.editorconfig
.eslintcache
.prettierignore
.prettierrc.js
commitlint.config.js
styleguide.config.js
upload.md
typings.d.ts
.fatherrc.ts
.umirc.ts
tsconfig.json
.mfsu-dev
